@{
    ViewData["Title"] = "Raca";
}

<div class="text-center">
    <h1 class="display-4">Raca</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Teste</a>.</p>
</div>

<h1>
    OLÁ
</h1>